		<!-- Footer -->
			<div id="footer-wrapper">
				<section id="footer" class="container">
					<div class="row">
						<div class="8u">
							<section>
								<header>
									<h2>Blandit nisl adipiscing</h2>
								</header>
								<ul class="dates">
								{% for post in site.posts offset: 0 limit: 5 %}
									<li>
										<span class="date">{{ post.date | date: "%B"}} <strong>{{ post.date | date: "%d"}}</strong></span>
										<h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
										{{ post.excerpt }}
									</li>
								{% endfor %}
								</ul>
							</section>
						</div>
						<div class="4u">
							<section>
								<header>
									<h2>What's this all about?</h2>
								</header>
								<a href="#" class="image featured"><img src="{{ site.baseurl }}/assets/images/pic10.jpg" alt="" /></a>
								<p>
									This is <strong>ROCm Software Platform</strong> a free,fullyopen sourced GPU Computing Software Platfrom from the
									<a href="http://www.radeon.com">Radeon GPU Computing Team</a>  
								</p>
								<footer>
									<a href="#" class="button">Find out more</a>
								</footer>
							</section>
						</div>
					</div>
					<div class="row">
						<div class="4u">
							<section>
								<header>
									<h2>GPU Hardware for ROCm</h2>
								</header>
								<ul class="divided">
									<li><a href="https://instinct.radeon.com/">Radeon Instinct GPU Products</a></li>
									<li><a href="https://pro.radeon.com/">RadeonPro GPU Products</a></li>
									<li><a href="https://radeon.com">Radeon GPU Products</a></li>
								</ul>
							</section>
						</div>
						<div class="4u">
							<section>
								<header>
									<h2>CPU Hardware for ROCm</h2>
								</header>
								<ul class="divided">
									<li><a href="http://www.amd.com/en/products/servers-processors">AMD™ EPYC™ Server Processors</a></li>
									<li><a href="https://www.youtube.com/watch?v=VUuuuah2md8">AMD™ Ryzen™ Threadripper™ Processors</a></li>
									<li><a href="https://www.supermicro.com/products/system/1U/1028/SYS-1028GR-TRT.cfm">SuperMicro™ SYS-1028 GQ-TRT ROCCm Qualified Server</a></li>
									<li><a href="https://www.supermicro.com/products/system/4U/7048/SYS-7048GR-TR.cfm">SuperMicro™ SYS-7048-TR ROCm Qualified Server</a></li>
								

								</ul>
							</section>
						</div>
						<div class="4u">
							<section>
								<header>
									<h2>Community</h2>
								</header>
								<ul class="social">
									<li><a class="icon fa-facebook" href="#"><span class="label">Facebook</span></a></li>
									<li><a class="icon fa-twitter" href="#"><span class="label">Twitter</span></a></li>
									
								
								</ul>
								<ul class="contact">
									<li>
										<h3>Address</h3>
										<p>
											AMD Inc<br />
											7171 SW Parkway<br />
											Austin, Tx 78735
										</p>
									</li>
								</ul>
							</section>
						</div>
					</div>
					<div class="row">
						<div class="12u">

							<!-- Copyright -->
								<div id="copyright">
									<ul class="links">
										<li>&copy; © 2017 Advanced Micro Devices, Inc. All rights reserved. </li>
										<li>	Design: <a href="http://html5up.net">HTML5 UP</a></li>
										<li> Jekyll Template: <a href="http://cloudcannon.com">Cloud Cannon</a></li>
									</ul>
								</div>

						</div>
					</div>
				</section>
			</div>

	</body>
</html>
