<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					<!-- Logo -->
					        <img src="{{ site.baseurl }}/assets/images/ROCm Logo_192.png" style="float:center;">
						<h1><a href="index.html">ROCm Software Platfrom</a></h1>

					<!-- Nav -->
						<nav id="nav">
						<ul>
						<li><a href="{{ site.baseurl }}/index.html">Home</a></li>
						<li><a href="{{ site.baseurl }}/rocmdocumentation.html">Documentation</a></li>
						<li>
							<a href="">ROCm Ecosystem</a>
							<ul>
								<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
								<li><a href="#">Twitter</a></li>
								<li><a href="#">Applications</a></li>
								<li>
									<a href="">Phasellus consequat</a>
									<ul>
										<li><a href="#">Magna phasellus</a></li>
										<li><a href="#">Etiam dolore nisl</a></li>
										<li><a href="#">Veroeros feugiat</a></li>
										<li><a href="#">Nisl sed aliquam</a></li>
										<li><a href="#">Dolore adipiscing</a></li>
									</ul>
								</li>
								<li><a href="#">Tools</a></li>
							</ul>
						</li>
						{% assign current = page.url | downcase | split: '/' %}
						<li {% if current[1] == 'left-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/left-sidebar.html">Tutorials</a></li>
						<li {% if current[1] == 'right-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/right-sidebar.html">Community</a></li>
						<li {% if current[1] == 'no-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/no-sidebar.html">Contribute</a></li>
					</ul>
						</nav>

					<!-- Banner -->
						<section id="banner">
							<header>
								<h2>A New Era in Open GPU Computing.</h2>
								<p>Platform for HPC and Ultrascale Markets</p>
							</header>
						</section>

					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">
								<div class="4u">
									<section class="first">
										<i class="icon featured fa-cog"></i>
										<header>
											<h2>Red</h2>
										</header>
										<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
									</section>
								</div>
								<div class="4u">
									<section class="middle">
										<i class="icon featured alt fa-flash"></i>
										<header>
											<h2>White</h2>
										</header>
										<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
									</section>
								</div>
								<div class="4u">
									<section class="last">
										<i class="icon featured alt2 fa-star"></i>
										<header>
											<h2>Blue</h2>
										</header>
										<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
									</section>
								</div>
							</div>
							<footer>
								<ul class="actions">
									<li><a href="#" class="button big">Getting Started</a></li>
									<li><a href="#" class="button alt big">Learn More</a></li>
								</ul>
							</footer>
						</section>

				</div>
			</div>
